
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Bai+Jamjuree|K2D|Taviraj|Trirong|Sarabun');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// @import '~dropzone/dist/min/dropzone.min.css';
// @import '~dropzone/dist/min/basic.min.css';
@import '~bootstrap-fileinput/css/fileinput.min.css';

@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~select2/dist/css/select2.min.css';

@import '~trix/dist/trix.css';

@import '~flatpickr/dist/flatpickr.min.css';